:root {
    --primarybg: rgb(16, 16, 16);
    --secondarycolor: rgb(240 240 240);
    --logofont: "Fruktur";
    --subfont: "Merriweather Sans", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondarycolor);
    font-family: var(--subfont);

}

a {
    text-decoration: none;
}

body {
    background-color: var(--primarybg);
}

#maincontainer {
    width: 80%;
    margin: auto;
    height: 200vh;
}

header {
    * {
        color: var(--primarybg);
    }

    margin: 0.5rem 0;
    display: flex;
    position: fixed;
    width: 80%;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);

    padding: 0.75rem 2rem;
    border-radius: 1rem;

    #logo {
        font-size: 1.25rem;
        letter-spacing: 1px;
        z-index: 101;
        display: flex;
        align-items: center;
        justify-content: center;

        * {
            margin: 0 0.25rem;
        }

        span {
            font-family: var(--logofont);
        }

        img {
            height: 2rem;
        }

    }

    .navi {
        * {
            margin: 0 2rem;
        }
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin: 0 1rem;
            line-height: 0.75rem;
        }

        a {
            img {
                height: 1.5rem;
                width: min-content;
            }
        }
    }
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;

    .left {
        width: 46%;
        height: 100vh;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;

        .textsec {
            h2 {
                font-size: 6rem;
            }

            h4 {
                margin: 2rem 0rem;
            }
        }

        .cta {
            margin: 2rem 0;
            display: flex;
            align-items: start;
            button {
                font-size: 1.25rem;
                color: black;
                margin: 0 1rem 0 0;
                background-color: rgb(241, 241, 241);
                padding: 0.75rem 2rem;
                border-radius: 1rem;


            }
        }
    }

    .right {
        width: 50%;
    }
}